:root {
  --mainWhite: #f5f5f5f5;
  --mainDark: #333333;
  --mainGreen: #1AC1A9;
  --mainRed: #b80c09;
  --mainBlue: #05668d;
}

body {
  background-color: #fff;
  font-family: 'Merienda', cursive;
  margin:0;
  padding:0;
  font-size:16px;
}

.main-div {
  width: 100%;
  position:absolute;
  top:100px;
}

.main-div .button_login, .button_newAccount {
  width: 300px;
  height: 48px;
  background-color: #1AC1A9;
  color:#fff;
  border:1px solid transparent;
  border-radius:5px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  padding: 10px;
  font-size: 14px;
  line-height: 25px;
  border-radius: 4px;
  margin:0 auto;
  margin-top:10px;
  display: block;

}

.main-div h3 {
  color:#1AC1A9;
  text-align: center;
}

.main-div, .loggedin-div {
  width: 100%;
  margin:0px auto;
  padding:20px;
  display: none;
}

.main-div input {
  display:block;
  border:1px solid #ccc;
  border-radius: 5px;
  background-color:#fff;
  padding:15px;
  outline:none;
  width: 300px;
  margin:0 auto;
  margin-bottom:20px;
}

.main-div input:focus {
  border:1px solid #1AC1A9;
}


.main-div .main_div_button, .loggedin-div .main_div_button {
  width: 150px;
  height: 48px;
  background-color: #1AC1A9;
  color:#fff;
  border:1px solid transparent;
  border-radius:5px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  float: left;
  padding: 10px;
  font-size: 14px;
  line-height: 25px;
  border-radius: 4px;
  margin-left:5px;
}

.main-div .button_login:hover, .button_newAccount:hover{
  background:black;
  color: white;
}

.main-div .main_div_button:hover, .loggedin-div .main_div_button:hover {
  background:black;
  color: white;
}

.budget-feedback,
.expense-feedback {
  display: none;
}

.budget-form {
  border: 0.15rem solid var(--mainGreen);
  padding: 1rem;
  border-radius: 0.25rem;
}
.expense-form {
  border: 0.15rem solid var(--mainRed);
  padding: 1rem;
  border-radius: 0.25rem;
}
.budget-submit {
  background: var(--mainGreen);
  color: white;
}
.expense-submit {
  background: var(--mainRed);
  color: white;
}
.expense-submit:hover {
  background-color: black;
  color: var(--mainWhite);
}
.budget-submit:hover {
  background-color: black;
  color: var(--mainWhite);
}

.budget-input {
  border: 0.05rem solid var(--mainGreen) !important;
}
.expense-input {
  border: 0.05rem solid var(--mainRed) !important;
}
.expense-amount,
.expense-title {
  color: var(--mainRed);
}
.edit-icon {
  color: var(--mainBlue);
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none !important;
}
.delete-icon {
  color: var(--mainRed);
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none !important;
}
.edit-icon:hover {
  color: var(--mainBlue);
}
.delete-icon:hover {
  color: var(--mainRed);
}
.showItem {
  display: block;
}
.info-title {
  font-size: 1.5rem;
}
.budget {
  font-size: 1.6rem;
  color: var(--mainGreen);
}
.expense {
  font-size: 1.6rem;
  color: var(--mainRed);
}
.balance {
  font-size: 1.6rem;
}
.budget-icon,
.expense-icon,
.balance-icon {
  font-size: 2.5rem;
  color: var(--mainBlue);
}
.showRed {
  color: var(--mainRed);
}
.showGreen {
  color: var(--mainGreen);
}
.showBlack {
  color: var(--mainDark);
}
@media screen and (min-width: 992px) {
  .budget {
    font-size: 2.6rem;
    color: var(--mainGreen);
  }
  .expense {
    font-size: 2.6rem;
    color: var(--mainRed);
  }
  .balance {
    font-size: 2.6rem;
  }
  .budget-icon,
  .expense-icon,
  .balance-icon {
    font-size: 3.5rem;
    color: var(--mainBlue);
  }
}
.list-item {
  flex: 0 0 33.33%;
  text-align: center;
}
.expense-item {
  height: 2rem;
}

.container-fluid h3 {
  text-align:center;
}

.logo {
  width:50%;
  height:auto;
  display:block;
}

/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  border-bottom:2px solid var(--mainGreen);
  padding: 20px 10px;
}

/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
  width:190px;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link*/
.header a.active {
  background-color: #049e87;
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }

  .main-div .main_div_button, .loggedin-div .main_div_button {
    width: 240px;
    position:relative;
    right:4px;
    margin-top:10px;
  }
}

.user_menu {
  display:flex;
  justify-content: center;
}
